name: Scan hardcoded secrets with Gitleaks
on:
  pull_request:
    paths-ignore:
    - 'README.md'
    - '.md'
    branches:
      - main       
  push:
    paths-ignore:
    - 'README.md'
    - '.md'
    branches:
      - main
  workflow_dispatch:  
   
  schedule:
    - cron: "0 4 * * *" # run once a day at 4 AM
  

jobs:
  scan:
    name: Gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          